
.header-wrapper {
    background-image: url('/media_11a806d481806aa17b1ce3871d2de0cd40915d373.jpeg?width=2000&format=jpeg&optimize=medium');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-wrapper .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: transparent; /* Remove the dark overlay */
    top: 0;
    padding: 0 24px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1264px;
}

header nav .nav-brand {
    order: 1;
    flex-basis: 128px;
}

header nav .nav-brand img {
    width: 128px;
    height: auto;
    object-fit: contain;
}

header nav .nav-sections {
    order: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Ensure elements are side by side */
}

header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    flex-direction: row; /* Ensure elements are side by side */
}

header nav .nav-sections li {
    margin-right: 1rem;
}

header nav .nav-sections a {
    color: white;
    text-decoration: none;
}

header nav .nav-tools {
    order: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav .nav-hamburger {
    display: none;
    visibility: hidden;
}

.default-content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.default-content-wrapper h1 {
    font-size: 3rem;
    margin: 0;
}

.default-content-wrapper h4 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

@media (max-width: 600px) {
    .nav-wrapper {
        flex-direction: column;
    }

    .default-content-wrapper {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

header nav .nav-hamburger {
    display: none;
    visibility: hidden;
}

.header-wrapper .nav-wrapper {
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    max-width: 1264px;
}

header {
    display: flex;
}

.header-wrapper .nav-wrapper {
    position: fixed;
    z-index: 2;
}
